# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.swp 